<div class="row">
    <div class="col-12">
        <h1 class="text-center title">Welcome!</h1>
    </div>
</div>

<div class="row">
    <div class="col m12">
        <h2>Your story:</h2>

        <div class="player">
        {{!-- {{#each playerName}} --}}
            <p>Your name is: {{hbsObject.playerName}}</p>
            <p>You've been sorted into: {{hbsObject.house}}</p>
            <p>Your character is: {{hbsObject.characterMatch}}</p>
            <p>Your favorite class is: {{hbsObject.class}}</p>
        {{!-- {{/each}} --}}
            <p>Random spell: {{randomSpell.spell}}</p>
            <p>{{randomSpell.effect}}</p>
        </div>
    </div>
</div>

